<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EmployeeDatabaseEntities" connectionString="metadata=res://*/entity_framework.DatabaseEmployeeModel.csdl|res://*/entity_framework.DatabaseEmployeeModel.ssdl|res://*/entity_framework.DatabaseEmployeeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-DVFQQOV\SQLEXPRESS;initial catalog=EmployeeDatabase;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>